@{
    ViewData["Title"] = "Заказ оформлен";
}

<p>
    Заказ оформлен. Мы собирает его, чтобы передать в слeжбу доставки. Ждите SMS.
</p>
<p>
    <a href="@Url.Action("Index", "Home")">Вернуться в магазин</a>
</p>